@charset "utf-8";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #ffffff;
  font-family: "Gothic A1", sans-serif;
  font-family: "Nunito", sans-serif;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

a {
  all: unset;
  cursor: pointer;
  color: inherit;
}

/* HEADER */

.header__container {
  position: fixed;
  transition: top 0.5s;
  display: table;
  width: 100%;
  height: 10vh;
  background: #00aaff;
  z-index: 3;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.header--logo {
  display: table-cell;
  vertical-align: middle;
}

.header--companyName {
  text-align: left;
  font-size: 24px;
  letter-spacing: 1.1px;
  color: #ffffff;
  text-decoration: none;
  margin: 0 0 0 5vw;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.header--companyName:hover {
  cursor: pointer;
}

.scrollHeader {
  transition: top 1s;
}

/* 
    HERO
*/

.hero {
  width: 100%;
  height: 30vh;
  padding-top: 10vh;
  position: relative;
  top: 10vh;
}

.hero__container,
.hero--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  z-index: 2;
  text-align: center;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.hero__container {
  /* position: relative; */
  background-image: url("./uploads/background_pillbetter.jpeg");
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.hero--cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* 
    MAIN
*/

#poryApp {
  width: 100%;
}

/* 
    FOOTER
*/

.footer {
  background-color: #00aaff;
  width: 100%;
}

.footer__container {
  margin: 0 auto;
  padding: 7vh 3vw;
  display: table;
  width: 80%;
}

.footer__ul {
  padding: 0;
  font-weight: 600;
  margin: 1vh 0;
}

.footer__serviceName {
  font-size: 14px;
  color: #ffffff;
  font-family: "Gothic A1", sans-serif;
  letter-spacing: 1.1px;
  font-weight: bold;
  /* display: inline-block;
  border-bottom: 2px solid #00334d; */
}

.footer__form {
  margin: 2vh 0 4vh 0;
  font-size: 12px;
  color: #ffffff;
  font-family: "Gothic A1", sans-serif;
}

.footer__copyright {
  padding: 4vh 0 0 0;
  width: 100%;
  display: table;
}

.footer__copyright--text {
  color: #ffffff;
  font-size: 10px;
  display: table-cell;
  text-align: center;
  font-family: "Nunito", sans-serif;
  border-top: 1px solid #ffffff;
  margin-top: 4em;
  padding-top: 4em;
  padding-bottom: 1em;
  width: 80%;
}

/* TOP BUTTON */

.topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 3;
  border: none;
  outline: none;
  background-color: #00aaff;
  color: #ffffff;
  cursor: pointer;
  padding: 12px;
  border-radius: 12px;
  font-size: 10px;
  opacity: 0.5;
}

.topBtnBlock {
  display: block;
}
